@tailwind base;
@tailwind components;
@tailwind utilities;

#printElement {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

/* #printElement {
  position: absolute;
  left: 0;
  top: 0;
} */

@media print {
  body * {
    visibility: hidden;
  }
  body {
    height: 20% !important;
  }
  #printElement,
  #printElement * {
    visibility: visible;
    display: flex;
  }

  #printElement {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
